<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <Script src="home.js" type="text/javascript"></Script>
</head>

<body>
    <div class="bgimg row">
        <div class="col-12"></div>
        <div class="col-12">
            <h1 class="h1-temp"> <i class="fab fa-dyalog"></i>evice Store</h1>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    <button class="btn btn-light" onclick="signup()" id="signup">Sign up</button>
                    <button class="btn btn-light" onclick="login()" id="login">Log In</button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row"></div>

    </div>
</body>

</html>